{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center">Choose Your Destination</h1>

{% for city in cities %}
<div class="card" style="text-align:center;" >

    <a href="{% url 'detail' city.id %}">

      <div class="card-content">
      <img style="margin-top:8px;" src = "{{city.image}}" width="600" height="200">
        <p style="margin-top:5px; color: #593A7E;">{{ city.name }}</p>
       
        <p style="color: #593A7E;">{{ city.description }}</p>
        
       
      </div>

    </a>

</div>


{% endfor %}

{% endblock %}