{% extends 'base.html' %}
{% block content %}

<style>

.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content{
 display:none;
}


.dropdown:hover .dropdown-content {
  display:inline-block;
}
.dropdown:hover .tripadder {
  display:none;
}

.card-action{
  display:inline-block
}





</style>

<h1 ></h1>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div style="text-align:center;" class="card-content">
        <img style="margin-top:8px;" src = "{{city.image}}" width="600" height="200">
        <p style="margin-top:5px; color:black; font-size:25px;">Welcome to {{ city.name }}</p> 
        <p>{{ city.description }}</p>
        
       
      </div>

     
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3 style="text-align:center;">{{ city.name }}'s Things to Do</h3> 

      {% for thing in city.thing_set.all %}
    <div class="card flex-grow-1" style="margin-top: 5px">
      <div style="padding:0; text-align:center;" class="card-content">
        <p> {{thing.description}}</p>
        <p> Address: {{thing.address}}</p>
        <p> Hours: {{thing.hours}}</p>
        <p> Cost: ${{thing.cost}}</p>
        
        <div class="dropdown">
            <button class="tripadder btn btn-info"> Add Your Trip</button>
            <div class="dropdown-content">
              {% for trip in trips %}

                <div class="card-action">
                  <form action="{% url 'assoc_thing' trip.id thing.id city.id %}" method="post">
                    {% csrf_token %}
                    <button   type="submit" class="btn btn-info">Add Your Trip {{trip.id}}</button>
                  </form>
                </div>
            {% endfor %}
            </div>
        </div>
      </div>
          
    </div>
    
     {% endfor %}
  </div>
  
  <div class="col s6">
    
    {% for trip in trips %}
    <h3 style="text-align:center;"> Trip {{trip.id}}</h3>
      {% for thing in trip.events.all %} 
       {% comment %} {% if thing.city.id===city.id%} {% endcomment %}
        <div class="card" style="margin-top: 5px">
          <div style="padding:0; text-align:center;" class="card-content">
            <p> {{thing.description}}</p>
            <p> Address: {{thing.address}}</p>
            <p> Hours: {{thing.hours}}</p>
            <p> Cost: ${{thing.cost}}</p>
           
          </div>
               {% comment %} {% endif %} {% endcomment %}
        </div>
      
      {% endfor %}
    {% endfor %}

    
  </div>

</div>
{% endblock %}