{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center">Choose Your Destination</h1>

{% for city in cities %}
<div class="card" style="text-align:center" >

    <a href="{% url 'detail' city.id %}">

      <div class="card-content">
      <img style="margin-top:8px;" src = "{{city.image}}" width="600" height="200">
        <p style="margin-top:5px;">{{ city.name }}</p>
       
        <p>{{ city.description }}</p>
        
       
      </div>

    </a>

</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ city.name }}'s Things to Do</h3> 

      {% for thing in city.thing_set.all %}
        <div class="card">
          <div class="card-content">
            
           
          </div>
        </div>
  
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' city.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{city.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>
</div>



{% endfor %}

{% endblock %}