{% extends 'base.html' %}
{% block content%}

<h1 class="mt-3" style="text-align:center;"> These are your trips! </h1>	

	{% for trip in trips %}
	<div class="card mt-3">

	  <div class="card-content mt-4" style="text-align:center;">
	    <h3> Trip {{ idx }}</h3>
	    <p>Description: {{ trip.description }}</p>
	    <p>Date: {{trip.date}}</p>
	    <p>Budget: {{ trip.budget}}</p>
	    <a href="/trips/{{trip.pk}}" class="card-link btn btn-info mb-3">More Info</a>
	    <a href="/trips/{{trip.pk}}/update" class="card-link btn btn-info mb-3">Edit Trip</a>
	    <a href="/trips/{{trip.pk}}/delete" class="card-link btn btn-info mb-3">Delete Trip</a>
	  </div>
	</div>
	{% endfor %}

	<div class="row mt-5">
		<div class="col s12">
			<div class="card mb-5" style="text-align:center;">
				<h2 class="my-3">Want to add a trip?</h2>
				<section class="form-section">
					<form method="POST" >
						{% csrf_token %}
						{{ form.as_p}}
						<input type="submit" class="btn btn-info mb-4" value="Add Trip">
					</form>
				</section>
			</div>
		</div>
	</div>

{% endblock %}