{% extends 'base.html' %}
{% block content%}

<h1 class="mt-5 mb-5" style="text-align:center;"> Ready for your trip? </h1>
	<div class="card">
		<div class="card-content" style="text-align:center;">
	    	<h2 >Your trip to {{ city }}</h2>
	    	<p class="mx-3 mt-4">Your trip on: {{trip.date}}</p>
	    	<p class="mx-3 mt-4"> Description: {{ trip.description }}</p>

	    	<p>Budget: {{ trip.budget}}</p>
	    	<a href="/trips/{{trip.pk}}/update" class="card-link btn btn-info mb-3">Update Your Trip</a>
	    	<a href="/trips/{{trip.pk}}/delete" class="card-link btn btn-info mb-3">Edit Your Trip</a>
	    	<a href="/trips" class="card-link btn btn-info mb-3">See All Your Trips</a>
	    </div>
	</div>

	<div class="row mt-5">
	{% for thing in things %}
		<div class="col s6">
			<div class="card flex-grow" style="margin-top: 5px">
			  <div style="text-align:center;" class="card-content">
			    <p class="mx-3 mt-4"> {{thing.description}}</p>
			    <p class="mx-3"> Address: {{thing.address}}</p>
			    <p class="mx-3"> Hours: {{thing.hours}}</p>
			    <p class="mx-3"> Cost: ${{thing.cost}}</p>
			    <a href="/trips/{{trip.pk}}/remove/{{thing.pk}}" class="card-link btn btn-info mb-3">Remove Event</a>
			  </div>
			</div>
		</div>
	{% endfor%}
	{% if not things %}
	<div class="col s6">
		<div class="card">
			<div class="card-content" style="text-align:center;">
				<p>You don't have any planned activities! Yet.</p>
				<a href="/cities/{{city.id}}" class="card-link btn btn-info mb-3">Check out the city?</a>
			</div>
		</div>
	</div>
	{% endif%}
	</div>

{% endblock %}